!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Platform
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'style', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    .container
      .row.min-vh-100
        .col-6
          = image_pack_tag
        .col-6
          = yield
