!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Platform
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'style', media: 'all'
    = javascript_pack_tag 'application'
    = favicon_link_tag asset_pack_path('media/images/logo.png')
  %body
    = yield
